{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card shadow" style="width: 18rem;">
                    <div class="card-body">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">My order history</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Transactions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Returns and refunds</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Settings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">My selling items</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Received orders</a>
                            </li>
                        </ul>
                        
                    </div>
                  </div>
            </div>
            <div class="col-md-8">fdakdfla</div>
        </div>
    </div>
    
</section>

{% endblock content %}