{% extends 'base.html' %}
{% block content %}
  
  <!-- ================ start banner area ================= -->	
	<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Register</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Register</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->
  
  <!--================Login Box Area =================-->
	<section class="login_box_area section-margin">
		{% include 'alert.html' %}
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<div class="hover">
							<h4>Already have an account?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a class="button button-account" href="{% url 'login' %}">Login Now</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner register_form_inner">
						<h3>Create an account</h3>
						<form class="row login_form" action="{% url 'register' %}" id="register_form"  method='POST'>
							{% csrf_token %}
							<div class="col-md-12 form-group">
								{{ form.first_name }}
							</div>
							<div class="col-md-12 form-group">
								{{ form.last_name }}
							</div>
							<div class="col-md-12 form-group">
								{{ form.email }}
							</div>
							<div class="col-md-12 form-group">
								{{ form.phone_number }}
							</div>
              				<div class="col-md-12 form-group">
							  	{{ form.password }}
              				</div>
              				<div class="col-md-12 form-group">
							  	{{ form.confirm_password }}
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="button button-register w-100">Register</button>
							</div>
							{{ form.email.errors }}
							{{ form.non_field_errors }}
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

{% endblock content %}