{% extends 'base.html' %}
{% load static %}
{% block content %}

	<!-- ================ start banner area ================= -->	
	<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Shopping Cart</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                        </ol>
                    </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->
  
  

  <!--================Cart Area =================-->
  <section class="cart_area">
    <div class="container">
    {% if not cart_items %}
        <div class="text-center">
            <h1>Your Shopping Cart is Empty</h1>
            <a href="{% url 'shop:shop' %}" class="mt-5 gray_btn">Continue Shopping</a>
        </div>
    {% else %}
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for cart_item in cart_items %}
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex cart-img">
                                            {% comment %} <a class="d-flex" href="{% url 'cart:remove_cart_item' cart_item.product.id %}" arial-label="Remove item from cart"><i class="fa fa-times text-danger"></i></a> {% endcomment %}
                                            <img src="{{ cart_item.product.thumbnail.url }}" alt="">
                                        </div>
                                        <div class="media-body">
                                            <p>{{ cart_item.product.product_name}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>${{ cart_item.product.price}}</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="text" name="qty" id="sst" maxlength="12" value="{{ cart_item.quantity}}" title="Quantity:"
                                            class="input-text qty">
                                        <button class="increase items-count" type="button"><a href="{% url 'cart:add_cart' cart_item.product.id %}" class="qnty-link"><i class="lnr lnr-chevron-up"></i></a></button>
                                        <button class="reduced items-count" type="button"><a href="{% url 'cart:remove_cart' cart_item.product.id %}" class="qnty-link"><i class="lnr lnr-chevron-down"></i></a></button>
                                    </div>
                                  <a href="{% url 'cart:remove_cart_item' cart_item.product.id %}" class="btn remove-btn" aria-label="Remove product">Remove</a>
                                </td>
                                <td>
                                    <h5>${{ cart_item.total_price }}</h5>
                                </td>
                            </tr>
                        {% endfor %}
    
                            <tr class="bottom_button">
                                <td>
                                <!-- <a class="button" href="#">Update Cart</a> -->    
                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <div class="cupon_text d-flex align-items-center">
                                        <input type="text" placeholder="Coupon Code">
                                        <a class="primary-btn" href="#">Apply</a>
                                        <a class="button" href="#">Have a Coupon?</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <h5>Subtotal</h5>
                                </td>
                                <td>
                                    <h5>${{total}}</h5>
                                </td>
                            </tr>
                            <tr class="shipping_area">
                                <td class="d-none d-md-block">

                                </td>
                                <td>

                                </td>
                                <td>
                                    <h5>Shipping</h5>
                                </td>
                                <td>
                                    <div class="shipping_box">
                                        <ul class="list">
                                            <li><a href="#">Flat Rate: $5.00</a></li>
                                            <li><a href="#">Free Shipping</a></li>
                                            <li><a href="#">Flat Rate: $10.00</a></li>
                                            <li class="active"><a href="#">Local Delivery: $2.00</a></li>
                                        </ul>
                                        <h6>Calculate Shipping <i class="fa fa-caret-down" aria-hidden="true"></i></h6>
                                        <select class="shipping_select">
                                            <option value="1">Bangladesh</option>
                                            <option value="2">India</option>
                                            <option value="4">Pakistan</option>
                                        </select>
                                        <select class="shipping_select">
                                            <option value="1">Select a State</option>
                                            <option value="2">Select a State</option>
                                            <option value="4">Select a State</option>
                                        </select>
                                        <input type="text" placeholder="Postcode/Zipcode">
                                        <a class="gray_btn" href="#">Update Details</a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="out_button_area">
                                <td class="d-none-l">

                                </td>
                                <td class="">

                                </td>
                                <td>

                                </td>
                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
                                        <a class="gray_btn" href="{% url 'shop:shop' %}">Continue Shopping</a>
                                        <a class="primary-btn ml-2" href="{% url 'cart:checkout' %}">Proceed to checkout</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
    
  </section>
  <!--================End Cart Area =================-->



{% endblock content %}
